<h1 class='container col-6 text-center'>User Dashboard</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-success text-center" role="alert">
    <strong><%= msg %></strong>
  </div>
<% end %>
