<h1>User Dashboard</h1>
<% if session[:user_token] %>
    <p>YOU'RE LOGGED IN</p>
<% end %>

    <% flash.each do |type, msg| %>
      <div class="alert alert-info text-center">
        <%= msg %>
      </div>
    <% end %>