<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <% @investigations.each_with_index do |investigation, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <%= image_tag investigation.poster%>
      </div>
    <% end %>
  </div>
</div>
