<h2 id='landing-content'>Browse Real Investigations</h2>
<h3 id='landing-content'>Help Solve Real Crimes</h3>

<hr>

<br>
<br>
<div id='active-cases-section'>
  <div id='landing-content'>
    Some random stuff here to be decided
  </div>
  <br>
  <div id='landing-content'>
    <%= link_to "View Active Cases", investigations_path %>
  </div>
</div>
<br>
<br>

<hr>

<br>
<br>
<div id='investigations-most-wanted-section'>
  <div id='investigations-most-wanted-left'>
    <h3 id='landing-content'>Test</h3>
    <p id='landing-content'>Test 2</p>
    <div id='landing-content'><%= button_to "Submit a Tip for a Missing Person", root_path %></div>
  </div>
  <div id='investigations-most-wanted-right'>
    <h3 id='landing-content'>Test</h3>
    <p id='landing-content'>Test 2</p>
    <div id='landing-content'><%= button_to "Submit a Tip for a Fugitive", root_path %></div>
  </div>
</div>
<br>
<br>

<hr>

<br>
<br>
<div id='landing-map-section'>
  <div id='landing-map-left-section'>
    <p id='landing-content'>Map over here</p>
  </div>

  <div id='landing-map-right-section'>
    <h3 id='landing-content'>Explore Cases Near You</h3>
    <div id='landing-content'><%= button_to "Explore Cases" %></div>
  </div>
</div>
<br>
<br>

<hr>