<nav class="navbar navbar-expand-lg fixed-bottom bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fs-6" href="https://www.github.com/brennacodes" target="_blank">Brenna's GitHub</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-6" aria-current="page" href="/admin">Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/merchants/1/dashboard">Merchant Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/api/v1">API</a>
        </li>
      </ul>
    </div>
  </div>
</nav>