<nav class="navbar navbar-expand-lg sticky-top shadow-sm p-3 mb-5 bg-body" id="header-bar">
  <%= link_to image_tag('wetective-logo.png', alt: 'Wetective Logo', width: '100'), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= render 'shared/login_links' %>

</nav>
