/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require leaflet
 */

@import 'bootstrap';

.navbar navbar-expand-lg sticky-top shadow-sm p-3 mb-5 bg-body {
  background-color: rgb(196, 75, 75);
}

.nav-link {
  color: rgb(0, 0, 0);
}

.landing_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

.video-wrapper {
  height: 100vh;
  display: flex;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-size: medium;
}

.h2.landing {
  color: white;
}

.h3.landing {
  color: white;
}

.p.landing {
  color: white;
}

#city-row {
  display: inline-block;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
