<div id="<%= @location %>_results">
  <div id="city-row">
    <h2><%= @location %></h2>
  </div>
  <div id="city-row">
    <%= button_to "clear", reset, class: "btn btn-outline-secondary btn-sm" %>
  </div>

  <br>

  <h3>Results</h3>
  <% @investigations.each do |inv| %>
    <ul class="list group">
      <li class="list-group-item">
      <%= link_to inv.title.titleize + " - " + inv.description.truncate(80), 
              investigation_path(inv), 
              target: "_top" 
              %>
      </li>
    </ul>
  <% end %>
</div>
