<turbo-frame id="#{city}-table" action="replace" target="investigations">
  <span><h1><%= city %></h1> <a data-action="clear">clear</a></span>

  <br>

  <table>
    <thead>
      <tr class="row">
        <th class="col"><em>Results</em></th>
      </tr>
    </thead>
    <tbody>
      <% investigations.each do |inv| %>
        <tr class="row">
          <td class="col"><%= link_to inv.city, investigation_path(inv) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>

<body>
  <div id="navigation">Links targeting the entire page</div>

  <turbo-frame id="message_1">
    <h1>My message title</h1>
    <p>My message content</p>
    <a href="/messages/1/edit">Edit this message</a>
  </turbo-frame>

  <turbo-frame id="comments">
    <div id="comment_1">One comment</div>
    <div id="comment_2">Two comments</div>

    <form action="/messages/comments">...</form>
  </turbo-frame>
</body>

<turbo-stream action="replace" target="message_1">
  <template>
    <div id="message_1">
      This div will replace the existing element with the DOM ID "message_1".
    </div>
  </template>
</turbo-stream>

<turbo-stream action="update" target="unread_count">
  <template>
    <!-- The contents of this template will replace the
    contents of the element with ID "unread_count" by 
    setting innerHtml to "" and then switching in the 
    template contents. Any handlers bound to the element 
    "unread_count" would be retained. This is to be 
    contrasted with the "replace" action above, where 
    that action would necessitate the rebuilding of  
    handlers. -->
    1
  </template>
</turbo-stream>

<turbo-stream action="remove" target="message_1">
  <!-- The element with DOM ID "message_1" will be removed.
  The contents of this stream element are ignored. -->
</turbo-stream>